<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>顧客一覧</title>
</head>

<body>

<h1>顧客一覧</h1>

<form th:action="@{/customers}" method="get">

  <input type="text"
         name="keyword"
         th:value="${keyword}"
         placeholder="顧客名検索">

  <button type="submit">検索</button>

</form>

<br>

<a href="/customers/new">顧客登録</a>

<table border="1">

  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>Email</th>
    <th>会社</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

  <tr th:each="customer : ${customers}">

    <td th:text="${customer.id}"></td>
    <td th:text="${customer.name}"></td>
    <td th:text="${customer.email}"></td>
    <td th:text="${customer.company}"></td>

    <td>
      <a th:href="@{/customers/edit/{id}(id=${customer.id})}">
        編集
      </a>
    </td>
    <td>
      <a th:href="@{/customers/delete/{id}(id=${customer.id})}">
        削除
      </a>
    </td>

  </tr>

</table>

</body>
</html>